<div class="main">
  {{#if viewData.snippets.length}}
    {{#each viewData.snippets}}
      {{#startsWith "   " this.value}}
      <div class="snippet">
        <p class="break"><pre class="prettyprint">{{this.value}}</pre></p>
        <div class="buttonHolder">
          <a href="/{{this.id}}/edit" class="editBtn">Edit</a>
          <a class="deleteBtn">Delete</a>
        </div>
        <div class="superHidden">
          <p>Are you sure?</p>
          <form action="{{this.id}}/remove" method="POST">
            <input type="hidden" name="id" value="{{this.id}}">
            <button type="submit" class="sureBtn">Yes</button>
          </form>
          <button class="notSureBtn">No</button>
        </div>
      </div>
      {{else}}
      <div class="snippet">
        <p class="break">{{this.value}}</p>
        <div class="buttonHolder">
          <a href="/{{this.id}}/edit" class="editBtn">Edit</a>
          <a class="deleteBtn">Delete</a>
        </div>
        <div class="superHidden">
          <p>Are you sure?</p>
          <form action="{{this.id}}/remove" method="POST">
            <input type="hidden" name="id" value="{{this.id}}">
            <button type="submit" class="sureBtn">Yes</button>
          </form>
          <button class="notSureBtn">No</button>
        </div>
      </div>
      {{/startsWith}}
    {{/each}}
    {{else}}
    <div class="snippet">
     <p>No snippets so far</p>
    </div>
  {{/if}}
</div>
<div class="menu">
  <div class="leftMenu"></div>
  <div class="midMenu">
    <x-custom></x-custom>
  </div>
  <div class="rightMenu"></div>
</div>

<script type="module" src="/js/buttonControl.js"></script>